.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.right {
    right: 0;
    background-color: white;
}

.left {
    left: 0;
    background-color: white;
}
